<ion-header translucent>
  <ion-toolbar>
    <ion-title>Timepod Creation - The What</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)" >
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="stacked">TimePod Name <ion-text color="danger">*</ion-text></ion-label>
            <ion-input   
            type="text" 
            formControlName="timepodName"
            placeholder = "Timepod Creation"            
            >            
          </ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.timepodName">
              <div class="error-message" *ngIf="validations_form.get('timepodName').hasError(validation.type) && (validations_form.get('timepodName').dirty || validations_form.get('timepodName').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
              <ion-label position="stacked">Notes </ion-label>
              <ion-textarea 
              rows="6"  
              placeholder="This is what you want to share ..."
              >
            </ion-textarea>
            </ion-item>
      </ion-list>

      <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin">Next</ion-button>
      </div>
  </form>
</ion-content>

